#header-row {
	padding: 50px;
	text-align: center;
}
.sans-sherif-bold {
	font-family: sans-serif;
}
.header-div {
	background-image: url(/img/1.jpg);
	background-color: rgba(0,0,0,0.8);
	background-size: cover;
	background-blend-mode: darken;
	min-height: 150%;
}